body{

     
    background-color: rgba(0,0,0,.9); 


    opacity: 1;
}
.showcase{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.heading{
    padding: 15px;
    font-family: 'Nerko One', cursive;
    color:aliceblue;
    text-align: center;
    padding: 40px;
}
.card{
    margin-bottom:10px ;
}
.card-title{
    display: inline-block;
}